<h3><%= "Car manufacturer: " + @car.manufacturer.name %></h3>
<h3><%= "Car color: " + @car.color %></h3>
<h3><%= "Car mileage: #{@car.mileage}" %></h3>
<h3><%= "Car year: #{@car.year}" %></h3>
<h3><%= "Car description: " + @car.description %></h3>

<%= link_to "Back", cars_path%>
